*{
    background-color: black;
    font-family: 'poppins',sans-serif;
}
.header
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 35px 12%;
    background:black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}
.logo
{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

span{
    color: orangered;
}
 .navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin:0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
 }
 .navbar a:hover,
 .navbar a:active{
    color:orangered;
    border-bottom: 3px solid orangered;
 }
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
 }
 .contact-form form{
    max-width: 50em;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;
    
 }
 .contact-me{
    color: white;
 }
 .btn-1
 {
    padding: 15px 28px;
    background-color: white;
    color: black;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
 }
 .btn-1:hover{
    background-color: black;
    color: white;
    border:2px solid white;
 }
 .contact-form form .input-box input ,
 .contact-form form textarea{
width: 100%;
padding: 1.5em;
font-size: 18px;
color: black;
background-color:white;
border-radius: 1rem;
margin: 1rem 0;
resize: none;
 }
 ::-webkit-scrollbar{
    width:15px;
 }
 ::-webkit-scrollbar-thumb{
    background-color: orangered;
 }
 ::-webkit-scrollbar-track
 {
    background-color:white;
    width: 50px;
 }
 .footer{
    
    bottom: 0;
    padding: 40px 0;
    background-color: white;
 }
 
 .footer ul{
    margin-top:0;
    padding: 0;
    background-color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
 }
 .footer ul li
 {
   background: white;
 }
 .footer ul li a
 {
    color: black;
    background: white;
 }
 .footer ul li a:hover{
    
   color:  orangered;
   border-bottom: 3px solid orangered;

 }
 a{
    text-decoration: none;
 }
 